html,
body {
    height: 100%;
    color: #4A4B4E;
    background-color: #F5F5F5;
}

#mainNav,
footer{
    background-color: #429ABE;
    color: #4A4B4E;
}

#mainNav.navbar-shrink {
    background-color: #429ABE;
}

#mainNav .navbar-nav .nav-item .nav-link:hover,
#mainNav .navbar-nav .nav-item .nav-link.active {
    color: #F98833
}

#mainNav .navbar-toggler{
    background-color: #F98833
}

button.btn.btn-primary,
button.btn.btn-primary:active,
button.btn.btn-primary:focus,
button.btn.btn-primary:hover{
    background-color: #F98833 !important;
    border-color: #F98833 !important;;
}

.portfolio-caption {
    max-width: 400px;
    padding: 20px;
    text-align: center;
    background-color: #fff;
}

section#contato {
    background-color: #212529;
    color: #F5F5F5;
}

footer > div > div > div > ul#socials > li:hover a{
    background-color: #F98833 !important;
}

footer > div > div > div > ul#quicklinks > li a{
    color: #4A4B4E !important;
}

#siga,
#doacao{
    margin-top: -120px;
}

#fotos {
    margin-top: -200px;
}

#time,
#acoes  {
    margin-top: -150px;
}

#acoes > div > div > div > ul > li {
    background-color: transparent;
    border-color: #F5F5F5;
}

/* Define o tamanho fixo do carrossel */
#carouselExample {
    max-width: 800px;
    max-height: 450px;
    margin: auto;
    overflow: hidden;
}

  /* Ajusta o tamanho das imagens */
#carouselExample .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

  /* Estilos para a legenda */
.carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7); /* Fundo semitransparente */
    padding: 15px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.9); /* Sombra para o texto */
    border-radius: 5px;
}
