{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login - Brand</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
</head>

<body class="bg-gradient-secondary" style="background-color: #4e73df">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-4 col-xl-8">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Bem Vindo!</h4>
                                    </div>
                                    <form class="user" method="post">
                                        {% csrf_token %}
                                        <div class="mb-3">
                                            <input class="form-control form-control-user" type="text" aria-describedby="emailHelp" placeholder="Usuário" name="username">
                                        </div>
                                        <div class="mb-3">
                                            <input class="form-control form-control-user" type="password" placeholder="Password" name="password">
                                        </div>
                                        <button class="btn btn-primary d-block btn-user w-100" type="submit" style="background-color: #4e73df; border-color: #4262be;">Entrar</button>
                                        <hr>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bs-init.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
</body>

</html>
